<!DOCTYPE html>
<html>
<head>
  <title>Content</title>
</head>
<body>

<table>
  <tr>
    <th>ID:</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% for (var key in apps) { %>

  <tr>
    <td><%= apps[key].app_id %></td>
    <td><%- apps[key].name %></td> 
    <td><form method="get" action="/app/edit/<%= apps[key]._id %>"><button type="submit" name="submit">Edit</button></form></td>
    <td><form method="post" action="/app/delete"><input type="hidden" name="id" value="<%= apps[key]._id %>"><button type="submit" name="submit">Delete</button></form></td></td>
  </tr>
<% } %>
</table>

<a href="/app/add">ADD App</a>

</body>
</html>
