<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
</head>
<body>

<table>
  <tr>
    <th>ID:</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% for (var key in devices) { %>

  <tr>
    <td><%= devices[key].device_id %></td>
    <td><%- devices[key].last_connected_at %></td> 
    <td><form method="get" action="/device/edit/<%= devices[key]._id %>"><button type="submit" name="submit">Edit</button></form></td>
    <td><form method="post" action="/device/delete"><input type="hidden" name="id" value="<%= devices[key]._id %>"><button type="submit" name="submit">Delete</button></form></td></td>
  </tr>
<% } %>
</table>

<a href="/device/add">ADD Device</a>

</body>
</html>
