<html>

<body>
   <form action="?" method="post" enctype="multipart/form-data">
      <fieldset>

         <label>device Id:</label>
         <input type="text" name="device_id" value="<%= device.device_id %>">
         <br />
         <label>device Token:</label>
         <input type="text" name="device_token" value="<%= device.device_token %>">
         <br />
         <br />

         <input type="submit" value="Save Content" >
      </fieldset>
   </form>

</body>
</html>