<html>

<body>
   <form action="?" method="post" enctype="multipart/form-data">
      <fieldset>

         <label>app Id:</label>
         <input type="text" name="app_id" value="<%= app.app_id %>">
         <br />
         <label>app Token:</label>
         <input type="text" name="app_token" value="<%= app.device_token %>">
         <br />
         <label>app Name:</label>
         <input type="text" name="name" value="<%= app.name %>">
         <br />
         <label>app Url:</label>
         <input type="text" name="url" value="<%= app.url %>">
         <br />

         <input type="submit" value="Save Content" >
      </fieldset>
   </form>

</body>
</html>