<html>

<body>
   <form action="?" method="post" enctype="multipart/form-data">
      <fieldset>

         <label>gateway Id:</label>
         <input type="text" name="gateway_id" value="<%= gateway.gateway_id %>">
         <br />
         <label>gateway Token:</label>
         <input type="text" name="gateway_token" value="<%= gateway.gateway_token %>">
         <br />
         <br />

         <input type="submit" value="Save Content" >
      </fieldset>
   </form>

</body>
</html>