<!DOCTYPE html>
<html>
<head>
  <title>Content</title>
</head>
<body>

<table>
  <tr>
    <th>ID:</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% for (var key in gateways) { %>

  <tr>
    <td><%= gateways[key].gateway_id %></td>
    <td><%- gateways[key].last_connected_at %></td> 
    <td><form method="get" action="/gateway/edit/<%= gateways[key]._id %>"><button type="submit" name="submit">Edit</button></form></td>
    <td><form method="post" action="/gateway/delete"><input type="hidden" name="id" value="<%= gateways[key]._id %>"><button type="submit" name="submit">Delete</button></form></td></td>
  </tr>
<% } %>
</table>

<a href="/gateway/add">ADD Gateway</a>

</body>
</html>
