<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
<a href="/app">Appication</a><br>
<a href="/gateway">Gateway</a><br>
<a href="/device">Device</a><br>
<br><br>
<a href="/status/gateway">Status Gateway</a><br>
<a href="/status/device">Status Device</a><br>
</body>
</html>