<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
</head>
<body>

Gateway: <%= Object.keys(gateways).length %>
<table>
  <tr>
    <th>Name:</th>
    <th>Description</th>

  </tr>
<% for (var key in gateways) { %>

  <tr>
    <td><%= gateways[key].connectAt %></td>
    <td><%- gateways[key].connectAt %></td> 

  </tr>
<% } %>
</table>

</body>
</html>
