<!DOCTYPE html>
<html>
<head>
	<title>Content</title>
</head>
<body>

Device: <%= Object.keys(things).length %>
<table>
  <tr>
    <th>ID:</th>
    <th>On gateway</th>

  </tr>
<% for (var key in things) { %>

  <tr>
    <td><%= key %></td>
    <td><%- things[key] %></td> 

  </tr>
<% } %>
</table>

</body>
</html>